@using Microsoft.AspNetCore.Http
@model IEnumerable<_Libary.Models.BookViewModel>



@{

    ViewData["Title"] = "Index";
    //< h2 > @ViewData["username"] </ h2 >




}


<p>
   
</p>



<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Categories
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("Index", "Loan", FormMethod.Post))
        {
            <p>
                <strong>BookTitel: </strong> @Html.TextBox("BookTitel")
                <input type="submit" value="Search" class="btn btn-success" />
            </p>
        }
        @foreach (var item in @Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @{

                        if (item.Categories != null)
                        {

                            foreach (var cat in item.Categories)
                            {
                                <span class="badge badge-secondary">@cat.CategoryName</span>
                            }
                        }
                    }
                </td>
                <td>

                    <a asp-action="AddLoan" asp-route-id="@item.BookID" class="btn btn-danger">Loan</a>
                    <a asp-action="AddReview" asp-controller="Review" asp-route-id="@item.BookID" class="btn btn-primary">Add Review</a>
                </td>
            </tr>
        }
    </tbody>
</table>
